################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStore/.vs/BookStore
/.vs
/BookStore/.vs/ProjectEvaluation
